@using ITSM_DomainModelEntity.ViewModels
@model AllModelVM
@{
    ViewData["Title"] = "Ann_List";
    Layout = "_Layout";
}

<style>
    .inc-tab-incidents-table th.number-column {
        width: 10%;
    }

    .inc-tab-incidents-table th.title {
        width: 30%;
    }

    .inc-tab-incidents-table th.create-by {
        width: 20%;
    }

    .inc-tab-incidents-table th.create-date {
        width: 20%;
    }

    .inc-tab-incidents-table th.update-date {
        width: 20%;
    }
</style>

<div class="inc-tab-container">
    <header>
        <div class="inc-tab-header-left">
            <button class="inc-tab-icon-button">
                <i class="fas fa-list"></i>
            </button>
            <h2 class="all-title-header-front">Announcement</h2>
            <div class="inc-tab-dropdown">
                <button class="inc-tab-dropdown-toggle" id="filterDropdown">Number <i class="fas fa-chevron-down"></i></button>
                <div class="inc-tab-dropdown-menu" id="filterMenu" style="display:none;">
                    <a href="#" class="inc-tab-dropdown-item" data-filter="number">Number</a>
                    <a href="#" class="inc-tab-dropdown-item" data-filter="title">Title</a>
                    <a href="#" class="inc-tab-dropdown-item" data-filter="create_by">Create By</a>
                    <a href="#" class="inc-tab-dropdown-item" data-filter="create_date">Create Date</a>
                    <a href="#" class="inc-tab-dropdown-item" data-filter="update_date">Update Date</a>
                </div>
            </div>
            <div class="inc-tab-search-container">
                <input type="text" placeholder="Search" class="inc-tab-search-input" id="searchInput">
            </div>
        </div>
        <div class="inc-tab-header-right">
            <button class="inc-tab-icon-button" id="refreshButton">
                <i class="fas fa-sync-alt"></i>
            </button>
            <button class="inc-cre-btn inc-cre-btn-icon" onclick="window.open('/Info/All_List_Info', '_blank')">
                <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <circle cx="12" cy="12" r="10"></circle>
                    <path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path>
                    <line x1="12" y1="17" x2="12.01" y2="17"></line>
                </svg>
            </button>
            <button class="inc-tab-new-button item-delete-btn show-error-box-btn" id="deleteButton" disabled>Delete</button>
            <button class="inc-tab-new-button item-import-btn" onclick="window.location.href='/Announcement/Ann_Import';">Import</button>
            <button class="inc-tab-new-button" onclick="window.location.href='/Announcement/Ann_Create';">New</button>

        </div>
    </header>

    <div class="inc-tab-table-options">
        <div class="inc-tab-checkbox-container">
            <input type="checkbox" id="select-all">
        </div>
        <span class="inc-tab-all-text">All</span>
    </div>

    <div class="inc-tab-table-container">
        <table class="inc-tab-incidents-table">
            <thead>
                <tr>
                    <th class="inc-tab-checkbox-column"></th>
                    <th class="inc-tab-sortable number-column" id="sortByNumber">Number <i class="fas fa-arrow-up" id="sortIcon"></i></th>
                    <th class="title">Title</th>
                    <th class="create-by">Create By</th>
                    <th class="create-date">Create date</th>
                    <th class="update-date">Update date</th>
                </tr>
            </thead>
            <tbody id="incTableBody">

                @foreach (var i in Model.AnnouncementList)
                {
                    <tr class="incident-item" data-id="@i.id">
                        <td><input type="checkbox" class="item-checkbox"></td>
                        <td class="inc-tab-incident-number" data-label="Number">
                            @if (i.ann_type != null)
                            {
                                <a href="~/Announcement/Ann_Info?id=@i.id&type=import">@i.at_number</a>
                            }
                            else
                            {
                                <a href="~/Announcement/Ann_Info?id=@i.id&type=info">@i.at_number</a>
                            }
                        </td>
                        <td data-label="title">@i.ann_title</td>
                        <td data-label="u_fullname">@i.User.fullname</td>
                        <td data-label="create date">@i.create_date.ToString("yyyy-MM-dd HH:mm:ss")</td>
                        <td data-label="update date">@i.update_date.ToString("yyyy-MM-dd HH:mm:ss")</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>

    <div class="inc-tab-pagination">
        <button class="inc-tab-pagination-button" id="firstPageBtn" disabled><i class="fas fa-angle-double-left"></i></button>
        <button class="inc-tab-pagination-button" id="prevPageBtn" disabled><i class="fas fa-angle-left"></i></button>
        <span class="inc-tab-pagination-info" id="paginationInfo">-</span>
        <button class="inc-tab-pagination-button" id="nextPageBtn"><i class="fas fa-angle-right"></i></button>
        <button class="inc-tab-pagination-button" id="lastPageBtn"><i class="fas fa-angle-double-right"></i></button>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="~/js/List/Ann_List.js"></script>
<script>
      $(function () {
        var $target = $('#Announcement_menu');
        if (!$target.hasClass('active') || !$target.hasClass('open')) {
            $('.menu-item').removeClass('active open');
            $target.addClass('active open');
        }

        $('#Announcement_menu_all').addClass("active");
    });
</script>

