@using ITSM_DomainModelEntity.ViewModels
@model AllModelVM
@{
    ViewData["Title"] = "CMDB_List";
    Layout = "_Layout";
}

<style>
    .inc-tab-incidents-table th.number-column {
        width: 15%;
    }

    .inc-tab-incidents-table th.department {
        width: 15%;
    }

    .inc-tab-incidents-table th.device_type {
        width: 15%;
    }

    .inc-tab-incidents-table th.window {
        width: 19%;
    }

    .inc-tab-incidents-table th.host_name {
        width: 16%;
    }

    .inc-tab-incidents-table th.ram {
        width: 11%;
    }

    .inc-tab-incidents-table th.dvdrw {
        width: 11%;
    }
</style>

<div class="inc-tab-container">
    <header>
        <div class="inc-tab-header-left">
            <button class="inc-tab-icon-button">
                <i class="fas fa-list"></i>
            </button>
            <h2 class="all-title-header-front">CMDB</h2>
            <div class="inc-tab-dropdown">
                <button class="inc-tab-dropdown-toggle" id="filterDropdown">Full Name <i class="fas fa-chevron-down"></i></button>
                <div class="inc-tab-dropdown-menu" id="filterMenu" style="display:none;">
                    <a href="#" class="inc-tab-dropdown-item" data-filter="full_name">Full Name</a>
                    <a href="#" class="inc-tab-dropdown-item" data-filter="department">Department</a>
                    <a href="#" class="inc-tab-dropdown-item" data-filter="device_type">Device Type</a>
                    <a href="#" class="inc-tab-dropdown-item" data-filter="windows_version">Windows Version</a>
                    <a href="#" class="inc-tab-dropdown-item" data-filter="host_name">Host Name</a>
                    <a href="#" class="inc-tab-dropdown-item" data-filter="ram">Ram</a>
                    <a href="#" class="inc-tab-dropdown-item" data-filter="dvdrw">DVDRW</a>
                </div>
            </div>
            <div class="inc-tab-search-container">
                <input type="text" placeholder="Search" class="inc-tab-search-input" id="searchInput">
            </div>
        </div>
        <div class="inc-tab-header-right">
            <button class="inc-tab-icon-button" id="refreshButton">
                <i class="fas fa-sync-alt"></i>
            </button>
            <button class="inc-cre-btn inc-cre-btn-icon" onclick="window.open('/Info/Info_Personal_Todo', '_blank')">
                <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <circle cx="12" cy="12" r="10"></circle>
                    <path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path>
                    <line x1="12" y1="17" x2="12.01" y2="17"></line>
                </svg>
            </button>
            <button class="inc-tab-new-button item-delete-btn show-error-box-btn" id="deleteButton" disabled>Delete</button>
            <button class="inc-tab-new-button" onclick="window.location.href='/CMDB/CMDB_Create';">New</button>
            <div class="nav-item navbar-dropdown dropdown-user dropdown open-button">
                <a class="nav-link dropdown-toggle hide-arrow p-0"
                   href="javascript:void(0);"
                   data-bs-toggle="dropdown">
                    <div class="avatar avatar-online">
                        <img src="@(Model.user.photo != null ? $"data:{Model.user.photo_type};base64," +  Convert.ToBase64String(Model.user.photo) :
                            Url.Content("~/img/avatar/user_avatar.jpg"))" alt="avatar" class="w-px-40 rounded-circle" />
                    </div>
                </a>
            </div>
        </div>
    </header>

    <div class="inc-tab-table-options">
        <div class="inc-tab-checkbox-container">
            <input type="checkbox" id="select-all">
        </div>
        <span class="inc-tab-all-text">All</span>
    </div>

    <div class="inc-tab-table-container">
        <table class="inc-tab-incidents-table">
            <thead>
                <tr>
                    <th class="inc-tab-checkbox-column"></th>
                    <th class="inc-tab-sortable number-column" id="sortByNumber">Full Name <i class="fas fa-arrow-up" id="sortIcon"></i></th>
                    <th class="department">Department</th>
                    <th class="device_type">Device Type</th>
                    <th class="window">Windows Version</th>
                    <th class="host_name">Host Name</th>
                    <th class="ram">Ram</th>
                    <th class="dvdrw">Dvdrw</th>
                </tr>
            </thead>
            <tbody id="incTableBody">

                @foreach (var i in Model.CMDBList)
                {
                    <tr class="incident-item" data-id="@i.id">
                        <td><input type="checkbox" class="item-checkbox"></td>
                        <td class="inc-tab-incident-number" data-label="Number">
                            <a href="~/CMDB/CMDB_Info?id=@i.id">@i.full_name</a>
                        </td>
                        <td data-label="department_name">@i.Department.name</td>
                        <td data-label="device_type">@i.device_type</td>
                        <td data-label="windows_version">@i.windows_version</td>
                        <td data-label="hostname">@i.hostname</td>
                        <td data-label="ram">@i.ram</td>
                        <td data-label="dvdrw">@i.dvdrw</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>

    <div class="inc-tab-pagination">
        <button class="inc-tab-pagination-button" id="firstPageBtn" disabled><i class="fas fa-angle-double-left"></i></button>
        <button class="inc-tab-pagination-button" id="prevPageBtn" disabled><i class="fas fa-angle-left"></i></button>
        <span class="inc-tab-pagination-info" id="paginationInfo">-</span>
        <button class="inc-tab-pagination-button" id="nextPageBtn"><i class="fas fa-angle-right"></i></button>
        <button class="inc-tab-pagination-button" id="lastPageBtn"><i class="fas fa-angle-double-right"></i></button>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="~/js/List/CMDB_List.js"></script>
<script>
      $(function () {
        var $target = $('#CMDB_menu');
        if (!$target.hasClass('active') || !$target.hasClass('open')) {
            $('.menu-item').removeClass('active open');
            $target.addClass('active open');
        }

        $('#CMDB_menu_all').addClass("active");
    });
</script>

