@using ITSM_DomainModelEntity.ViewModels
@model AllModelVM
@{
    ViewData["Title"] = "KB_List";
    Layout = "_Layout";
}

<style>
    .inc-tab-incidents-table th.number-column {
    width: 11%;
    }

    .inc-tab-incidents-table th.author {
    width: 13%;
    }

    .inc-tab-incidents-table th.title {
    width: 15%;
    }

    .inc-tab-incidents-table th.short_description {
    width: 23%;
    }

    .inc-tab-incidents-table th.create_date {
    width: 14%;
    }

    .inc-tab-incidents-table th.update_date {
    width: 14%;
    }

    .inc-tab-incidents-table th.active {
    width: 10%;
    }

</style>

<div class="inc-tab-container">
    <header>
        <div class="inc-tab-header-left">
            <button class="inc-tab-icon-button">
                <i class="fas fa-list"></i>
            </button>
            <h2 class="all-title-header-front">Knowledges</h2>
            <div class="inc-tab-dropdown">
                <button class="inc-tab-dropdown-toggle" id="filterDropdown">Number <i class="fas fa-chevron-down"></i></button>
                <div class="inc-tab-dropdown-menu" id="filterMenu" style="display:none;">
                    <a href="#" class="inc-tab-dropdown-item" data-filter="number">Number</a>
                    <a href="#" class="inc-tab-dropdown-item" data-filter="author">Author</a>
                    <a href="#" class="inc-tab-dropdown-item" data-filter="title">Title</a>
                    <a href="#" class="inc-tab-dropdown-item" data-filter="short_description">Short Description</a>
                    <a href="#" class="inc-tab-dropdown-item" data-filter="create_date">Create Date</a>
                    <a href="#" class="inc-tab-dropdown-item" data-filter="update_date">Update Date</a>
                </div>
            </div>
            <div class="inc-tab-search-container">
                <input type="text" placeholder="Search" class="inc-tab-search-input" id="searchInput">
            </div>
        </div>
        <div class="inc-tab-header-right">
            <button class="inc-tab-icon-button" id="refreshButton">
                <i class="fas fa-sync-alt"></i>
            </button>
            <button class="inc-cre-btn inc-cre-btn-icon" onclick="window.open('/Info/Info_Personal_Todo', '_blank')">
                <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <circle cx="12" cy="12" r="10"></circle>
                    <path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path>
                    <line x1="12" y1="17" x2="12.01" y2="17"></line>
                </svg>
            </button>
            <div class="inc-tab-dropdown">
                <button class="inc-tab-dropdown-toggle" id="statusDropdown">All <i class="fas fa-chevron-down"></i></button>
                <div class="inc-tab-dropdown-menu" id="statusMenu" style="display:none;">
                    <a href="#" class="inc-tab-dropdown-item" data-status="all">All</a>
                    <a href="#" class="inc-tab-dropdown-item" data-status="active">Active</a>
                    <a href="#" class="inc-tab-dropdown-item" data-status="inactive">Inactive</a>
                </div>
            </div>
            <button class="inc-tab-new-button item-delete-btn" id="deleteButton" disabled>Delete</button>
            <button class="inc-tab-new-button item-import-btn" onclick="window.location.href='/Knowledge/KB_Import';">Import</button>
            <button class="inc-tab-new-button" onclick="window.location.href='/Knowledge/KB_Create';">New</button>
            <div class="nav-item navbar-dropdown dropdown-user dropdown open-button">
                <a class="nav-link dropdown-toggle hide-arrow p-0"
                href="javascript:void(0);"
                data-bs-toggle="dropdown">
                    <div class="avatar avatar-online">
                        <img src="@(Model.user.photo != null ? $"data:{Model.user.photo_type};base64," +  Convert.ToBase64String(Model.user.photo) :
                            Url.Content("~/img/avatar/user_avatar.jpg"))" alt="avatar" class="w-px-40 rounded-circle" />
                    </div>
                </a>
            </div>
        </div>
    </header>

    <div class="inc-tab-table-options">
        <div class="inc-tab-checkbox-container">
            <input type="checkbox" id="select-all">
        </div>
        <span class="inc-tab-all-text">All</span>
    </div>

    <div class="inc-tab-table-container">
        <table class="inc-tab-incidents-table">
            <thead>
                <tr>
                    <th class="inc-tab-checkbox-column"></th>
                    <th class="inc-tab-sortable number-column" id="sortByNumber">Number <i class="fas fa-arrow-up" id="sortIcon"></i></th>
                    <th class="author">Author</th>
                    <th class="title">Title</th>
                    <th class="short_description">Short Description</th>
                    <th class="create_date">Create Date</th>
                    <th class="update_date">Update Date</th>
                    <th class="active">Active</th>
                </tr>
            </thead>
            <tbody id="incTableBody">

                @foreach (var i in Model.KnowledgeList)
                {
                    <tr class="incident-item" data-id="@i.id">
                        <td><input type="checkbox" class="item-checkbox"></td>
                        <td class="inc-tab-incident-number" data-label="Number">
                            @if (i.kb_type != null)
                            {
                                <a href="~/Knowledge/KB_Info?id=@i.id&type=file">@i.kb_number</a>
                            }
                            else
                            {
                                <a href="~/Knowledge/KB_Info?id=@i.id&type=word">@i.kb_number</a>
                            }
                        </td>
                        <td data-label="a_fullname">@i.Author.fullname</td>
                        <td data-label="title">@i.title</td>
                        <td data-label="short_description">@i.short_description</td>
                        <td data-label="create_date">@i.create_date.ToString("yyyy-MM-dd HH:mm:ss")</td>
                        <td data-label="update_date">@i.updated.ToString("yyyy-MM-dd HH:mm:ss")</td>
                        <td data-label="active">@(i.active ? "Active" : "Inactive")</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>

    <div class="inc-tab-pagination">
        <button class="inc-tab-pagination-button" id="firstPageBtn" disabled><i class="fas fa-angle-double-left"></i></button>
        <button class="inc-tab-pagination-button" id="prevPageBtn" disabled><i class="fas fa-angle-left"></i></button>
        <span class="inc-tab-pagination-info" id="paginationInfo">-</span>
        <button class="inc-tab-pagination-button" id="nextPageBtn"><i class="fas fa-angle-right"></i></button>
        <button class="inc-tab-pagination-button" id="lastPageBtn"><i class="fas fa-angle-double-right"></i></button>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="~/js/List/KB_List.js"></script>
<script>
      $(function () {
        var $target = $('#Knowledge_menu');
        if (!$target.hasClass('active') || !$target.hasClass('open')) {
            $('.menu-item').removeClass('active open');
            $target.addClass('active open');
        }

        $('#Knowledge_menu_all').addClass("active");
    });
</script>

