@using ITSM_DomainModelEntity.ViewModels
@model AllModelVM
@{
    ViewData["Title"] = "KB_Search";
    Layout = "_Layout";
}

<style>
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    body {
    background-color: #121212;
    font-size: 16px;
    line-height: 1.5;
    }

    .KB2-result-content .title_read_info:hover{
    text-decoration:none;
    }
</style>

<header class="KB2-header">
    <div class="KB2-user-profile nav-item navbar-dropdown dropdown-user dropdown open-button">
        <a class="nav-link dropdown-toggle hide-arrow p-0"
        href="javascript:void(0);"
        data-bs-toggle="dropdown">
            <div class="avatar avatar-online">
                <img src="@(Model.user.photo != null ? $"data:{Model.user.photo_type};base64," +  Convert.ToBase64String(Model.user.photo) :
                            Url.Content("~/img/avatar/user_avatar.jpg"))" alt="avatar" class="w-px-40 rounded-circle" />
            </div>
        </a>
    </div>
</header>

<nav class="KB2-breadcrumb">
    <ul>
        <li><a href="~/Knowledge/KB_Home">Home</a></li>
        @if (Model.category != null)
        {
            <li class="KB2-active">@Model.category.title (Knowledge Search)</li>
        }
        else
        {
            <li class="KB2-active">All (Knowledge Search)</li>
        }

    </ul>
</nav>

<main>
    <form action="~/Knowledge/KB_Search" method="get">
        <div class="KB2-search-section">
            <div class="KB2-search-container">
                <input type="text" name="kb_search_word" placeholder="Search Title...">
                <button type="submit"><i class="fas fa-search"></i></button>
            </div>
        </div>
    </form>

    <div class="KB2-results-section">
        <div class="KB2-results-header">
            @if (Model.category != null)
            {
                <div class="KB2-results-count">@Model.KnowledgeList.Count results for "@Model.category.title"</div>
            }
            else if (@Model.kb_search_word != null)
            {
                <div class="KB2-results-count">@Model.KnowledgeList.Count results for "@Model.kb_search_word"</div>
            }
            else
            {
                <div class="KB2-results-count">@Model.KnowledgeList.Count results for All</div>
            }
        </div>

        <div class="KB2-showing-results">Showing All Results</div>

        <div class="KB2-search-results">
            @foreach(var i in Model.KnowledgeList)
            {
                <div class="KB2-result-item">
                    <div class="KB2-result-icon">
                        @if (i.kb_type != null)
                        {
                            <i class="fa-solid fa-file"></i>
                        }
                        else
                        {
                            <i class="fas fa-book"></i>
                        }
                    </div>
                    <div class="KB2-result-content">
                        @if (Model.kb_search_word != null)
                        {
                            <h3><a href="~/Knowledge/KB_Read?kbid=@i.id&kbsearchword=@Model.kb_search_word" class="title_read_info">@i.title</a></h3>
                        }
                        else if (Model.category != null)
                        {
                            <h3><a href="~/Knowledge/KB_Read?kbid=@i.id" class="title_read_info">@i.title</a></h3>
                        }
                        else
                        {
                            <h3><a href="~/Knowledge/KB_Read?kbid=@i.id&showall=all" class="title_read_info">@i.title</a></h3>
                        }
                        <div class="KB2-result-path">
                            <span>@i.Category.title</span>
                            <i class="fas fa-chevron-right"></i>
                            <span>@i.title</span>
                        </div>
                        <div class="KB2-result-description">
                            @i.short_description
                        </div>
                        <div class="KB2-result-meta">
                            <span class="KB2-author"><i class="fas fa-user" style="padding-right:3px;"></i> @i.Author.fullname</span>
                            <span class="KB2-date"><i class="fas fa-calendar" style="padding-right:3px;"></i> @i.create_date.ToString("yyyy-MM-dd HH:mm:ss")</span>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</main>

<button id="back-to-top" class="KB2-back-to-top" title="Back to Top">
    <i class="fas fa-arrow-up"></i>
</button>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script>
    $(function () {
      var $target = $('#Knowledge_menu_u');
      if (!$target.hasClass('active') || !$target.hasClass('open')) {
          $('.menu-item').removeClass('active open');
          $target.addClass('active open');
      }

      $('#Knowledge_menu_u_search').addClass("active");
    });
</script>

